<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <property name="LOG_HOME" value="${user.home}/nrmp-admin"/>
    <contextName>nrmp-admin</contextName>
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!--日志打印在控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="projectAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/output/nrmp-admin.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/output/nrmp-admin.log.%d{yyyy-MM-dd}.%i.gz</FileNamePattern>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
    </appender>
    <!--系统吞吐量日志-->
    <appender name="runTimeCountAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/runTimeCount/nrmp-admin-runTimeCount.log</File>
        <encoder>
            <Pattern>%date %-5level %msg%n%ex</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/runTimeCount/nrmp-admin-runTimeCount.log.%d{yyyy-MM-dd}.%i.gz</FileNamePattern>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="runTimeCount" additivity="false">
        <level value="INFO" />
        <appender-ref ref="runTimeCountAppender" />
    </logger>
    <logger name="project" additivity="false">
        <level value="INFO" />
        <appender-ref ref="projectAppender" />
    </logger>
    <logger name="stdoutput" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="projectAppender" />
        <appender-ref ref="FILE" />
    </root>
</configuration>